h3, h5, h6{
    text-align: center;
    padding: 0;
}

.no-gutter > [class*='col-'] {
    padding-right: 3px;
    padding-left: 3px;
}

.rounded-corners{
    border-radius: 4px;
    overflow=hidden;
}

.img-center{
    display: block;
    margin: 0 auto;