.row-height {
    height: 250px;
    padding-top: 5px;
}

#box {
    background-color: #f7f7f7;
    border-style: solid;
    /*border-radius: 1px 1px 1px 1px;*/
    border-color: #ebebeb;
    /*border-width: 1px;*/
    /*padding: -10px;*/
    /*margin: -10px;*/
}

.server-box {
    background-color: #f7f7f7;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    border-color: #ebebeb;
    border-width: 1px;
    margin: 10px;
}

.btn-static {
  cursor: pointer;
}
.btn-static:active {
  -moz-box-shadow:    inset 0 0 0 white;
  -webkit-box-shadow: inset 0 0 0 white;
  box-shadow:         inset 0 0 0 white;
}
