{% extends "base.html" %}
{% set active_page = "setup" %}

{% block center_page %}
<!-- Left sidebar panel -->
<div class="col-sm-4">
    <!-- Top panel for server discovery/setup-->
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Server Discovery</h3></div>
        <div class="panel-body">
            <!-- Panel Content -->
            <form method="post">
                <br>
                <div class="input-group">
                    <span class="input-group-addon has-feedback"><i class="glyphicon glyphicon-signal"></i> Found</span>
                    <input id="found" type="number" class="form-control" name="found" placeholder="Found servers"
                           value="{{ servers|count }}" readonly>
                </div>

                <hr>

                <button type="submit" name="configure-all" class="btn btn-default btn-block btn-md">
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Configure All
                </button>

                <button type="submit" name="open-capture-folder" class="btn btn-default btn-block btn-md">
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Open Capture Folder
                </button>
            </form>
        </div>
    </div>
    <!-- Bottom panel, for controlling servers (capturing etc) -->
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Server Control</h3></div>
        <div class="panel-body">
            <!-- Panel Content -->
            <div class=row">
                <form method="post">
                    <button type="submit" name="capture" value="all" class="btn btn-success btn-block btn-md">
                        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Capture All
                    </button>
                    <button type="submit" name="download" value="all" class="btn btn-info btn-block btn-md">
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download From All
                    </button>
                    <button type="submit" name="shutdown" value="all" class="btn btn-warning btn-block btn-md">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Shutdown All
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Right main panel -->
<div class="col-sm-8">
    <!-- Top panel, showing list of servers -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Server Configuration</h3>
        </div>
        <div class="panel-body">
            {% for server in servers %}
                <div class="col-sm-6">
                    <form method="post">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5>{{ server.id }} @ {{server.ip}}</h5>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <a href="/stream?server_id={{ server.id }}&stream_url={{ server.stream_url|urlencode() }}">
                                    <img src="{{ server.stream_url }}" alt="Live stream of camera server"
                                            class="img-responsive img-center rounded-corners"/></a>
                                </div>
                                <br>
                                <div class="row no-gutter">
                                    <div class="col-xs-4">
                                        <button type="submit" name="capture" value={{ server.id }}
                                        class="btn btn-success btn-block">
                                        <span class="glyphicon glyphicon-camera" aria-hidden="true" aria-label="capture"></span>
                                        </button>
                                    </div>
                                    <div class="col-xs-4">
                                        <button type="submit" name="stream" value={{ server.id }}
                                                class="btn btn-danger btn-block">
                                            <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"
                                                  aria-label="stream fullscreen"></span>
                                        </button>
                                    </div>
                                    <div class="col-xs-4">
                                        <button type="submit" name="configure" value={{ server.id }}
                                            class="btn btn-default btn-block">
                                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"
                                              aria-label="configure camera"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}